<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Restaurante</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome/auth/Login.css') }}">
    <script src="{{ url_for('static',filename='js/auth/Login.js') }}"></script>
</head>
<body>
<div class="login-container">
    <!-- Cuadro flotante con información -->
    <div class="info-box">
        <h2>¡Bienvenido al Restaurante!</h2>
        <p>
            Disfruta de los mejores sabores y una experiencia única. Ofrecemos una amplia variedad de cervezas, vinos y platillos gourmet que no te puedes perder.
            <br><br>
            ¡Aprovecha nuestras promociones especiales los fines de semana!
        </p>
    </div>

    <!-- Formulario de Login -->
    <div class="login-box">
        <h1>Inicia Sesión</h1>
        <form action="{{ url_for('home.adminPanel') }}" method="GET">
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="email" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn" id="buttonLogin">Ingresar</button>
        </form>
    </div>
</div>
</body>
</html>
