<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome/home/Employee.css') }}">
    <script src="{{ url_for('static', filename='js/Employee.js') }}"></script>
</head>
<body>
<div class="admin-container">
    <aside class="sidebar">
        <div class="sidebar-header"></div>
        <div class="sidebar-title"><h1>Foopilot</h1></div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.adminPanel') }}">Menú Principal</a></li>
                <li><a href="{{ url_for('home.registerEmployee') }}">Empleados</a></li>
                <li><a href="{{ url_for('home.ordersPanel') }}">Pedidos</a></li>
                <li><a href="{{ url_for('home.mesasPanel') }}">Mesas</a></li>
                <li><a href="{{ url_for('home.statistics') }}">Estadisticas</a></li>
            </ul>
        </nav>
        <div class="sidebar-profile">
            <img id="profile-picture" src="https://via.placeholder.com/50" alt="Foto de perfil" style="cursor: pointer;">
            <div class="profile-info">
                <p><strong>Juan Pérez</strong></p>
                <p>Administrador</p>
            </div>
            <button class="logout-btn" id="logoutButton">Cerrar Sesión</button>
        </div>
    </aside>

    <main class="main-content">
        <header>
            <h1>Gestión de Usuarios</h1>
        </header>
        <div class="table-container">
            <div class="actions-container">
                <a href="{{ url_for('auth.SignUp') }}" class="add-btn">Insertar Nuevo Usuario</a>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Buscar..." />
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <table class="users-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="pagination-container"></div>
        </div>
    </main>
</div>
</body>
</html>
