<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Menú del Restaurante</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/welcome/home/Home.css') }}">
    <script src="{{ url_for('static', filename='js/Home.js') }}"></script>
</head>
<body>
<nav class="menu-navigation">
    <ul>

    </ul>
</nav>
<div class="menu-container">
    <header class="menu-header">
        <h1>Menú del Restaurante</h1>
        <p>¡Disfruta de nuestros platillos y bebidas!</p>
    </header>

    <section class="menu-items" id="menu">

    </section>
</div>
</body>
</html>
